/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    top: 1px;
    position:absolute;
    z-index:1;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:111%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('front-view.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.79;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    padding-top:60px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
.send
{
    padding: 4px 12px;
    border: 2px solid white;
    background-color: rgb(99, 204, 90);
    color: white;
    margin: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor:pointer;
    text-decoration: none;
}
.reset
{
    padding: 4px 12px;
    border: 2px solid white;
    background-color:rgb(99, 204, 90);
    color: white;
    margin: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    cursor:pointer;
}
.btns
{
    padding: 5px 16px;
    background-color: rgb(92, 151, 68);
    color: white;
    margin: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor:pointer;
}

.center{
    text-align: center;
}
#noon
{
	font-family:calibri;
	font-size:20pt;
	font-weight:bold;
	float:left;
	background-image:url("offerimag.jpg");
	background-repeat:no-repeat;
	width:48%;
	height:85%;
	color:black;
}
#eve
{
	font-size:20pt;
	font-weight:bold;
	font-family:calibri;
	float:right;
	background-image:url("offerimag.jpg");
	background-repeat:no-repeat;
	width:48%;
	height:85%;
	color:black;
}

#alert
{
    position:relative;
    max-width:max-content;
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    font-size:1.1rem;
    width:180%;
    height:5%;
    padding-top:10px;
    border-color:black;
    border-style:solid;
    border-radius:15px;
}


/* Menu edit Carousel*/
#category
 {
    align:left;
    height:3%;
    margin-left:120px;
    width:50%;
    margin-right:auto;
 }


